*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
*.aar
*.so
*.dll
*.exe
*.txt
.vscode/
bin/
composeApp/libscomposeApp/src/jvmMain/resources/*
!composeApp/src/jvmMain/resources/.gitkeep
composeApp/src/androidMain/jniLibs/*
!composeApp/src/androidMain/jniLibs/.gitkeep
workers/*
!workers/Makefile
